*{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}

                    /*header*/
header .principal{
    display: flex;
    justify-content: center;
    align-items: center;
}
header section p{
    background-color: rgb(46, 46, 46);
    color: hsl(36, 100%, 90%);
}
header .menu img{
    width: 46px;
    height: 46px;
    text-decoration: none;  
    color: black;

}
.menu{
    display: flex;
    justify-content: space-around;
}
                    /*IMAGENES SECCIONES*/
.imagenes .mujer img{
    border-radius: 1rem 0 0 1rem;
}
.imagenes .niños img{
    border-radius: 0 1rem 1rem 0;
}
main nav .secciones img{
    width: 410px;
    height: 550px;
}
main .imagenes a{
    display: flex;
    justify-content: center;
    align-items: center;
}
                /*MODAL USUARIO*/
.modal{
    background-color: rgba(128, 128, 128, .3);
    align-items: center;
}
body .modal-content{
    background-color: hsl(34, 57%, 70%);
    width: 30vw;
    height: 55vh;
    overflow: hidden;
    display: flex;
    flex-shrink: initial;

}
.modal-body .partes{
    padding: 0;
}
.partes{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}
.formulario .partes input, p{
    align-items: center;
}
.partes .btn{
    display: block;
    width: 100%;
    background-color: rgb(184, 165, 89);
    color: rgb(0, 0, 0);

}
.formulario .partes p{
    font-size: .8rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}
.cuadro h5{
    font-size: 1rem;
}
                    /*MENU BAJO*/
.menubajo{
    background-color: hsl(36, 100%, 90%);
    color: rgb(46, 46, 46);

}
SECTION .tarjetas img{
    width: 46px;
    height: 46px;
    margin: 2vw;
}
.menubajo a{
    text-decoration: none;
    color: rgb(46, 46, 46);

}
                    /*REDES SOCIALES*/
nav .redes img{
    width: 46px;
    height: 46px;
}
                    /*FOOTER*/
footer{
    background-color: rgb(46, 46, 46);
    color: hsl(36, 100%, 90%);
}
                    /*MEDIAS*/
@media (max-width: 769px) {
   .tarjetas, .columna1, .mapa{
       display: flex;
       flex-direction: column;
       justify-content: center;
   }
   .columna1 a{
       display: block;
       align-self: center;
   }
   .tarjetas p, div{
        align-self: center;
   }
   .mapa p, iframe{
        align-self: center;
   }
   body .modal-content{
        width: 80vw;
        height: 53vh;
    }
}
